# macOS
.DS_Store

# Node.js
node_modules/
package-lock.json
npm-debug.log*
.yarn-integrity

# Composer
vendor/
composer.lock

# WordPress
wp-content/cache/
wp-content/uploads/
wp-content/upgrade/

# IDE / editor
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Environment files
.env
.env.*

# Build artifacts
dist/
build/
.public/

# OS files
Thumbs.db
